<div class="container my-5 animated fadeIn fast" *ngIf="movie">
  <div class="row">
    <div class="col-md-5">
      <h1>{{ movie.title }}</h1>
      <img class="img-fluid img-thumbnail"
           [src]="movie | movieImg:true"
           [alt]="movie.title">
    </div>
    <div class="col-md-7 animated fadeIn">
      <h2>Sinopsis</h2>
      <hr>
      <p class="text-justify">{{ movie.overview }}</p>
      <h4>Famous phrase</h4>
      <p>{{ movie.tagline }}</p>
      <p>
        Popularity <span class="badge badge-primary">{{ movie.popularity | number:'.2-2' }}</span>
      </p>
      <p>
        Vote average <span class="badge badge-primary">{{ movie.vote_average }}</span>
      </p>

      <button class="btn btn-outline-danger"
              [routerLink]="['/' + backTo, search ]">Back</button>
    </div>
  </div>
</div>
